* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  font-family: "Roboto", sans-serif;
}

#page {
  display: flex;
}

@media (max-width: 650px) {
  #page {
    flex-direction: column;
  }
}
